In [1]:
import pandas as pd # type: ignore
import numpy as np # type: ignore

df = pd.read_csv('E:/learning/UT DataScience/Python for Data Science/Session 1/Heart data.csv')
df

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0.0
1,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0.0
2,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0.0
3,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0.0
4,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,52.0,1.0,4.0,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1.0
593,43.0,1.0,4.0,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,NaN,NaN,1.0
594,41.0,1.0,4.0,120.0,336.0,0.0,0.0,118.0,1.0,3.0,2.0,NaN,NaN,1.0
595,44.0,1.0,4.0,135.0,491.0,0.0,0.0,135.0,0.0,0.0,NaN,NaN,NaN,1.0
596,49.0,1.0,4.0,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1.0

In [2]:
df.columns

Index(['Age (age in year)', 'sex', 'chest pain', 'blood pressure',
       'cholestoral ', 'blood sugar', 'electrocardiographic ', 'heart rate',
       'exercise induced', 'depression ', 'slope', 'ca', 'thal', 'c'],
      dtype='object')

### ForwardFill and BackwardFill

ca
NaN    294
0.0    179
1.0     65
2.0     38
3.0     20
9.0      1
Name: count, dtype: int64